# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# .NET
**/bin
**/obj
**/publish
*.user
*.userosscache
*.suo
*.userprefs

# Node
**/node_modules
**/dist
**/tmp
**/out-tsc
**/.angular
**/.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
**/Dockerfile*
**/*.dockerignore
**/docker-compose*
**/.docker

# Environment
**/.env
**/.env.local
**/.env.*.local

# Build results
**/release

# Logs
**/*.log
