@layer reset, base, utilities;

@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    text-size-adjust: none;
  }

  a {
    text-decoration: none;
  }

  button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }

  body {
    min-block-size: 100vh;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  fieldset {
    outline: none;
    border: none;
  }
}

@layer base {
  :root {
    --ff-body: 'Plus Jakarta Sans', sans-serif;
    --ff-heading: 'Plus Jakarta Sans', sans-serif;

    --ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
    --ease-spring: cubic-bezier(0.16, 1, 0.3, 1);

    @media (width > 767px) {
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-850: 3.5rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  .container {
    width: 100%;
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 2vw, 1.5rem);
  }

  @media (width <= 1399px) {
    .container {
      max-width: 1140px;
      padding-inline: 15px;
    }
  }

  @media (width <= 1199px) {
    .container {
      max-width: 960px;
    }
  }

  @media (width <= 991px) {
    .container {
      max-width: 720px;
    }
  }

  @media (width <= 767px) {
    .container {
      max-width: 540px;
    }
  }

  @media (width <= 575px) {
    .container {
      max-width: 100%;
    }
  }
}

@layer utilities {
}
